.statusbar {
    color: black;
    padding: 15px 20px;
    font-size: 18px;
    text-align: center;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 20px auto;
}

.correctCount {
    font-weight: bold;
    color: #4CAF50;
}

.wrongCount {
    font-weight: bold;
    color: #ff6b6b;
}
