.container{
    max-width: 550px;
    margin: 0 auto;
}
.header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 901;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}
.action_info{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.resultWrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;

  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}