.container{
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
}
.action_info{
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.action_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}