.container{
    background-color: antiquewhite;
    border: 0.25px solid;
    border-radius: 15px;
    padding: 20px;
}
.title{
    padding: 10px;
}
.question{
    padding: 10px;
}
.answer{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.action_button{
    margin: 10px;
    display: inherit;
}
.answer_button{
    display: flex;
    align-items: center;
    justify-content: space-around;
}