.body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #444;
}

.main {
  flex: 1;
  padding: 20px;
}

:root {
  --color-primary: #EAEFBD;
  --color-secondary: #E8DEF8;
  --color-accent: #ffcc00;

  --color-text: #111111;
  --color-gray: #777777;

  --radius-md: 12px;
}