.header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 901;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}
.action_info{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}