.wrapper {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  transition: border-color 0.2s ease;
  border-radius: var(--radius-sm);
  background: var(--muted);
  color: var(--text-dark);
  padding: .55rem .7rem;
}

.wrapper:focus-within{
  border-color: var(--focus);
}

.input {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  padding: 6px 10px;
}