.container{
    background-color: var(--panel);
    border-radius: var(--radius-md);
    padding: 20px;
    box-shadow: var(--box-shadow);
    color: var(--text-white);
}
.title{
    padding: 10px;
}
.question{
    padding: 10px;
    min-height: 150px;
    font-weight: 500;
}
.answer{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.action{
    display: flex;   
    justify-content: end;
    padding: 20px 0;
}
.action_button{
    margin: 10px;
    display: inherit;
}
.answer_button{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.warning_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}
.warning {
    color: var(--danger)
}